<div align="center" xmlns:th="http://www.thymeleaf.org">
    <br>身份证号
    <br>
    <input th:value="${p.getP_id()}" class="form-control1"
           style="color:#000000" id="infoid"  disabled="disabled">
    <br>姓名
    <br>
    <input th:value="${p.getName()}" class="form-control1"
           style="color:#000000" id="infoname"  disabled="disabled">

    <br>电话
    <br>
    <input th:value="${p.getPhone_num()}" class="form-control1"
           style="color:#000000" id="infophone"  disabled="disabled">
    <br>性别
    <br>
    <!--<input th:value="${p.getSex()}" class="form-control1"-->
           <!--style="color:#000000" id="infosex"  disabled="disabled">-->
    <input th:if="${p.getSex()}" th:value="女" class="form-control1"
           style="color:#000000" th:id="infosex"  disabled="disabled">
    <input th:unless="${p.getSex()}" th:value="男" class="form-control1"
           style="color:#000000" th:id="infosex"  disabled="disabled">
    <br>生日
    <br>
    <input th:value="${#dates.format(p.getBirthday(),'yyyy-MM-dd')}" class="form-control1"
           style="color:#000000" id="infobirth"  disabled="disabled">
</div>