<div  xmlns:th="http://www.thymeleaf.org">
    <h5 th:text="${name}">Chad Engle</h5>
    <ul id="chatContent" class="chat-ui chat-messages">
        <li th:each="chat:${ChatInfo}">
            <p th:if="${chat.get('status')==1}" class="avatar">
                <img src="assets/img/avatars/49.jpg">
            </p>
            <p th:if="${chat.get('status')==0}" class="avatar">
                <img src="assets/img/avatars/48.jpg">
            </p>
            <p th:text="${chat.get('sender').getName()}" class="chat-name">Chad Engle
            </p>
            <span class="status online"><i class="en-dot"></i></span>
            <p th:text="${chat.get('chat').getContent()}" class="chat-txt">Hello Sugge check out the last order.</p>
            <span class="chat-time" th:text="${#dates.format(chat.get('chat').getChat_time(),'yyyy-MM-dd HH:mm:ss')}">15 seconds ago</span>
        </li>

    </ul>
    <div class="chat-write">
        <form action="#" class="form-horizontal" role="form">
            <div class="form-group">
                <div style="width: 200px; display: inline-block; float: left;"><textarea id="Chat" class="form-control elastic" rows="1"></textarea></div>
                <div style="width: 20px; display: inline-block; float: left;">&ensp;</div>
                <div style="width: 30px; display: inline-block;float: left;"><a th:attr="id=${id}" role="button"  id="attach_photo_btn" onclick="SaveChat(this)">
                <i class="fa-save s20"></i>
                </a></div>
                <!--<input type="file" name="attach_photo" id="attach_photo">-->
            </div>
            <!-- End .form-group  -->
        </form>
    </div>
    <script>
        function SaveChat(tar){
            var searKeywordCache = $("#Chat").val();
            var id=tar.getAttribute("id");
            var time=new Date();
            var data={
                "content":searKeywordCache,
                "id":id,
                "chat_time":time
            };
            $.ajax({
                url:"/addChatContent",
                type:"POST",
                data:data,
                dataType:'json',
                success:function (result) {
                    var img;
                    if(result.role==0){
                        img="assets/img/avatars/48.jpg\""
                    }
                    else {
                        img="assets/img/avatars/49.jpg\""
                    }
                    var year=time.getFullYear();
                    var month=time.getMonth()+1;
                    month=month<10?"0"+month:month;
                    var day=time.getDate();
                    day=day<10?"0"+day:day;
                    var hour=time.getHours();
                    hour=hour<10?"0"+hour:hour;
                    var minute=time.getMinutes();
                    minute=minute<10?"0"+minute:minute;
                    var second=time.getSeconds();
                    second=second<10?"0"+second:second;
                    var temDate=year+"-"+month+"-"+day+" "+hour+":"+minute+":"+second;

                    var text="<li class=\"chat-user\">\n" +
                        "                                    <p class=\"avatar\">\n" +
                        "                                        <img src=\"" +
                        img +
                        " alt=\"@chadengle\">\n" +
                        "                                    </p>\n" +
                        "                                    <p class=\"chat-name\">" +
                        result.name +
                        "                                    </p>\n" +
                        "                                    <span class=\"status online\"><i class=\"en-dot\"></i></span>\n" +
                        "                                    <p class=\"chat-txt\">" +
                        searKeywordCache +
                        "</p>\n" +
                        "<span class=\"chat-time\">" +
                            temDate
                        "</span>\n" +
                        "                                </li>";
                    $("#chatContent").append(text);

                }
            });
            // alert(d_id);
            document.getElementById('Chat').value="";
        };
    </script>
</div>