<div class="bs-example" data-example-id="hoverable-table" xmlns:th="http://www.thymeleaf.org">
    <table class="table table-hover" id="btable">
        <thead>
        <tr>
            <th>表名</th>
            <th>时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="tableble">

        <tr th:each="chart:${ChartList}">
            <td th:text="${chart.getC_id()}">ywh</td>
            <td th:text="${chart.getTime()}">2018-12-28</td>
            <td>
                <button th:attr="c_id=${chart.getC_id()}" id="list1btn" type="button" class="btn btn-sm btn-info" onclick="moreInfo(this)">View</button>
            </td>
        </tr>
    </table>
</div>